<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <p>Welcome to
        <%= title %>
    </p>
    <p>This microservice is designed to upload any type of file to the main server and transfer to the cluster via ssh. It is required that the host cluster has added the host webserver sra key in order to make the transfer via ssh. All communcation is done
        by using SSH protocol.</p>
    <ul>
        <li><strong>/upload/file/</strong>
            <br><br> POST request used to upload the file to the webserver.
            <br>
            <br>
            <code>
                Header: Upload Form HTML<br>
                Return: {
                    "local_file": "/path/to/local/storage/file.gz"
                    }
            </code>

            <hr>
        </li>
        <li><strong>/transfer/file/</strong>
            <br><br> POST request used to transfer the file to the cluster.
            <br><br>
            <code>
              Header: {
                       local_file:"path/to/local",
                      }<br>
              Return: Does not return any parameter
            </code>
            <hr>
        </li>
        <li><strong>/transfer/file/status/keyword</strong>
            <br><br>GET request used to check the status of the transfer to the supercluster.<br> keyword is the file name to check (if the transfer to the cluster is done.)<br> Returns: { status: "Transferring" } or { status: "Transferred" }</li>
    </ul>
</body>

</html>